/* UTILITIES
------------------------------------------------------------------ */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


blockquote{
    margin: 0;
    font-style: italic;
}